$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$maxSmall: "(max-width: 991px)";
$minMedium: "(min-width: 992px)";
$maxLarge: "(max-width:1199px)";
$minLarge: "(min-width: 1200px)";

$mainColor: #2196f3;
$mainColor-alt: #1787e0;
$transparentColor: #fafafa;
$second-background: #ececec;
$box-shadow: 0 0 10px rgb(10, 2, 2);
$main-transtion: 0.3s;
$main-padding: 100px;
