* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  // direction: rtl;
  font: {
    family: "Cairo , sans-serif";
  }
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  @media #{$minSmall} {
    width: 750px;
  }
  @media #{$minMedium} {
    width: 970px;
  }
  @media #{$minLarge} {
    width: 1170px;
  }
}
.clearfix {
  clear: both;
}
.text-center-xs {
  @media #{$maxMobile} {
    text-align: center;
  }
}
.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  // left: -0%;
  top: 100%;
  z-index: 10;
  height: 30px;
  width: 100%;
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
}
.dots {
  background-image: url(/images/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
